* {
    margin: 0;
    padding: 0;
   
}
/* Background visuals */
body {
    background-color: grey;
}

/* Card visuals */
/* Card images */
.card-img-top {
    border-radius: 10%;
}
/* Cards */
.card {
    border-radius: 10%;
    border: none;
}